@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color:rgb(224, 125, 125);
}

.App {
  min-height: 100vh;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
select {
 
  margin: 0 auto;
  margin-top:5%;
}
.search {
  margin-top: 16%;
}


/* .navblog{
  background-color: rgb(114, 211, 35);
  color: black;
} */



.countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
  row-gap: 4rem;
  padding: 5rem 0;
 
  
}



.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.country {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: rgba(221, 217, 217, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.country-image {
  position: relative;
  height: 160px;
}

.country-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.country-info {
  padding: 1rem;
}

.country-info h2 {
  margin-bottom: 1rem;
}

.country-info ul {
  list-style: none;
}

.country-info li {
  font-weight: 300;
  margin-bottom: 0.3rem;
}

.country-info li span {
  font-weight: 600;
}


header button {
  border: none;
  outline: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
}

@media screen and (max-width: 1250px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 1050px) {
  .countries {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 3rem;
  }
}

@media screen and (max-width: 800px) {
  .header-wrapper h2 {
    font-size: 1rem;
  }

  .countries {
    grid-template-columns: 1fr 1fr;
  }

  .country-info h2 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .countries {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .country {
    width: 80%;
    margin: 0 auto;
  }
}
#navbarNav a {
  text-decoration: none;
  color: black;
}


#navbarNav a:hover {
  color: rgb(71, 179, 49);
}


.country-detail{
  text-align: center;
}